@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500;600;700&display=swap");
@import "https://unpkg.com/open-props";
:root {
  --ff: "Karla", sans-serif;
  --arrow: url("https://img.icons8.com/material/15/000000/cursor--v1.png"),
    default;
  --hand: url("https://img.icons8.com/sf-regular/22/000000/hand-cursor.png"),
    default;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:focus,
:active {
  outline: none;
}

html {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff);
  cursor: var(--arrow);
}

html:focus-within {
  scroll-behavior: smooth;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
::-moz-selection {
  color: black;
  background: yellow;
}
::selection {
  color: black;
  background: yellow;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  padding: var(--size-fluid-2);
  background: #fe9920;
}

#canvas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-width: 80%;
}

#history {
  border: 4px solid #03045e;
  border-radius: var(--radius-3);
  box-shadow: #0c4767 10px 10px;
  max-height: var(--size-fluid-10);
  background-image: var(--gradient-19);
  padding: var(--size-fluid-1);
  overflow-y: scroll;
}
#history .insideHistory {
  border: 4px solid #03045e;
  border-radius: var(--radius-3);
  box-shadow: #0c4767 10px 10px;
  text-align: center;
  background-color: white;
  box-shadow: #0c4767 4px 4px;
  margin: var(--size-fluid-1) 0;
  padding: var(--size-fluid-1);
  min-width: var(--size-fluid-8);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-7);
}
#history .insideHistory svg {
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#history .insideHistory svg:hover {
  cursor: var(--hand);
  transform: translateY(-2px);
}
#history #historyOne {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-7);
}
#history::-webkit-scrollbar {
  width: 0 !important;
}

.animation1 {
  -webkit-animation: var(--animation-bounce);
          animation: var(--animation-bounce);
}

.vibrate-1 {
  -webkit-animation: vibrate-1 0.4s linear infinite;
  animation: vibrate-1 0.4s linear infinite;
}

.slide-out-blurred-top {
  -webkit-animation: slide-out-blurred-top 0.45s cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
  animation: slide-out-blurred-top 0.45s cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
}

.slide-in-blurred-top {
  -webkit-animation: slide-in-blurred-top 0.45s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-top 0.45s cubic-bezier(0.23, 1, 0.32, 1) both;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 4px solid #03045e;
  border-radius: var(--radius-3);
  box-shadow: #0c4767 10px 10px;
  padding: var(--size-fluid-3);
  min-width: var(--size-fluid-10);
  background-image: var(--gradient-19);
}
#wrapper #section-1 {
  border: 4px solid #03045e;
  border-radius: var(--radius-3);
  box-shadow: #0c4767 10px 10px;
  background-color: white;
  padding: var(--size-fluid-1);
  margin-bottom: var(--size-fluid-2);
  line-height: var(--font-lineheight-3);
}
#wrapper #section-1 h2 {
  font-weight: var(--font-weight-7);
  font-size: var(--font-size-fluid-2);
}
#wrapper #section-1 ul {
  list-style: none;
}
#wrapper #section-1 ul li {
  color: rgba(0, 0, 0, 0.633);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-6);
}
#wrapper #section-1 ul li span {
  color: black;
  font-weight: var(--font-weight-7);
}
#wrapper #section-1 ul li span:hover {
  background-color: yellow;
  cursor: var(--hand);
}

#section-2 {
  padding: var(--size-fluid-3);
}
#section-2 form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-6);
}
#section-2 form input,
#section-2 form button {
  border: 4px solid #03045e;
  border-radius: var(--radius-3);
  box-shadow: #0c4767 10px 10px;
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-7);
  padding: var(--size-fluid-1);
  min-width: var(--size-fluid-10);
  text-align: center;
}
#section-2 form button {
  margin-top: var(--size-1);
  min-width: var(--size-fluid-8);
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#section-2 form button:hover {
  cursor: var(--hand);
  transform: translateY(5px);
}

@-moz-document url-prefix() {
  form input {
    margin-bottom: var(--size-fluid-1);
  }
}
#Links {
  position: fixed;
  right: 0;
  bottom: 0;
}
#Links svg {
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#Links svg:hover {
  cursor: var(--hand);
  transform: translateY(-5px);
}

[data-tooltip] {
  position: relative;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  line-height: 1;
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-7);
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  display: none;
  opacity: 0;
  border: 3px solid #0c4767;
  filter: drop-shadow(6px 6px 0px #0c4767);
}

[data-tooltip]:before {
  content: "";
  border: 5px solid transparent;
  z-index: 100;
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 7px 14px;
  border-radius: 5px;
  background: #fff;
  color: #000000;
  z-index: 99;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  opacity: 1;
}

[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow=top]::before {
  bottom: 100%;
}

[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow=top]::after {
  bottom: calc(100% + 5px);
}

[data-tooltip]:not([data-flow])::before,
[tooltip]:not([data-flow])::after,
[data-tooltip][data-flow=top]::before,
[data-tooltip][data-flow=top]::after {
  left: 50%;
  transform: translate(-50%, -70px);
}

[data-tooltip=""]::after,
[data-tooltip=""]::before {
  display: none !important;
}

@-webkit-keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-1.5px, 1.5px);
  }
  40% {
    transform: translate(-1.5px, -1.5px);
  }
  60% {
    transform: translate(1.5px, 1.5px);
  }
  80% {
    transform: translate(1.5px, -1.5px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-1.5px, 1.5px);
  }
  40% {
    transform: translate(-1.5px, -1.5px);
  }
  60% {
    transform: translate(1.5px, 1.5px);
  }
  80% {
    transform: translate(1.5px, -1.5px);
  }
  100% {
    transform: translate(0);
  }
}
@-webkit-keyframes slide-out-blurred-top {
  0% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 0%;
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(40px);
    opacity: 0;
  }
}
@keyframes slide-out-blurred-top {
  0% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 0%;
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(40px);
    opacity: 0;
  }
}
@-webkit-keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}
@media (max-width: 768px) {
  body {
    min-height: 0;
    padding: 0;
    background: var(--gradient-19);
  }
  #canvas {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #wrapper {
    border-radius: 0;
    border: none;
    box-shadow: none;
    background: none;
  }
  #wrapper #section-1 {
    border: 4px solid #0c4767;
    box-shadow: #0c4767 5px 5px;
    margin: var(--size-fluid-2) 0;
  }
  #history {
    min-width: var(--size-fluid-10);
    padding: var(--size-fluid-1) var(--size-fluid-2);
    border: 4px solid #0c4767;
    box-shadow: #0c4767 4px 4px;
  }
  #history .insideHistory {
    border: 4px solid #0c4767;
    box-shadow: #0c4767 3px 3px;
  }
  #section-2 form input,
#section-2 form button {
    border: 4px solid #0c4767;
    box-shadow: #0c4767 4px 4px;
  }
  #historyOne {
    font-size: var(--font-size-3);
  }
  #Links {
    position: relative;
    margin: var(--size-fluid-3) 0;
  }
}/*# sourceMappingURL=style.css.map */